name: deploy our microservices app to aws EKS cluster

# Trigger the workflow on push request events but only for the master branch
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
      # build images of microservices
      - run: docker build -t moka12/multi-client ./client
      - run: docker build -t moka12/multi-server ./server
      - run: docker build -t moka12/multi-worker ./worker

      # push the images to docker hub
      - run: docker push moka12/multi-client
      - run: docker push moka12/multi-server
      - run: docker push moka12/multi-worker

      # deploy to kubernetes cluster in aws
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region eu-north-1 \
            --name microservices-eks-cluster

      - name: Check you are connected to the correct EKS cluster
        run: kubectl config current-context
      
      - name: Install kubectl
        run: |
          curl -LO https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Create Postgres secret
        run: |
          kubectl create secret generic pgpassword --from-literal PGPASSWORD=${{ secrets.PG_PASSWORD }} -n production
          kubectl get secret pgpassword -n production

      - run: kubectl delete -f ./k8s_on_aws/
      - run: kubectl apply -f ./k8s_on_aws/namespace.yml
      - run: kubectl apply -f ./k8s_on_aws/